body{
background-color: rgb(163, 12, 194);
color:aliceblue;
  font-family: "BBH Sans Bogle", sans-serif;
 display: flex;
 justify-content: center;
 align-items: center;
 height: 700px; 
 margin: 0;
}
 
button {
background-color: rgb(236, 29, 174);
color: aliceblue;
 font-family: "BBH Sans Bogle", sans-serif;

}